<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>

    <nav style="display: flex; flex-direction: column; margin-bottom: 1em;" >
        <a href="/">Home</a>
        <a href="/admin/add-book">Add Book</a></li>
    </nav>

</head>
<body>

    <% if (books.length > 0) { %>
        <% for (let book of books) { %>
    <ul style="border: 1px solid black">
        <h2>Title: <%= book.title %></h2>
        <li><p>Pages: <%= book.pages %></p></li>
        <li><p>Summary: <%= book.summary %></p></li>
        <li><p>Genre: <%= book.genre%></p></li>
    </ul>
        <% } %>

    <% } else { %>
        <h1>No Books Found</h1>
    <% } %>


    
</body>
</html>